:root {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin: 0 0 0.5rem 0;
  animation: fadeIn 2s;
}

img {
  width: 100%;
}

p {
  font-weight: 600;
}

a {
  color: black;
  text-decoration-color: transparent;
  margin-right: 1em;
  transition: text-decoration-color 500ms;
}

a:hover {
  text-decoration-color: black;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 80%;
  background-color: white;
  padding: 1rem;
}

.navbar {
  background: linear-gradient(to right, rgb(245, 255, 111), rgb(255, 255, 103));
  padding: 2rem 0 2rem 0;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
}

.navGroup {
  padding-left: 2rem;
}

.webBrand {
  font-size: 1.5rem;
  font-weight: bold;
}

.blog:first-child {
  border-top: 2px solid black;
}

.blogCard {
  border-bottom: 2px solid black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 48rem) {
}
